In [6]:
import pandas as pd
import numpy as np



data = pd.read_csv("Zadanie_4.csv", sep=";")
data["Dates"] = pd.to_datetime(data['DateTime']).dt.date
data["Times"] = pd.to_datetime(data["DateTime"]).dt.time
data.dropna(inplace=True, axis=1)
data

             DateTime  DoctorID Type    City       Dates     Times
0    16.03.2020 12:00         1   GP  Warsaw  2020-03-16  12:00:00
1    16.03.2020 12:01         1   GP  Warsaw  2020-03-16  12:01:00
2    16.03.2020 12:02         1   GP  Warsaw  2020-03-16  12:02:00
3    16.03.2020 12:03         1   GP  Warsaw  2020-03-16  12:03:00
4    16.03.2020 12:04         1   GP  Warsaw  2020-03-16  12:04:00
..                ...       ...  ...     ...         ...       ...
194  29.03.2020 14:33         1   GP  Warsaw  2020-03-29  14:33:00
195  29.03.2020 14:34         1   GP  Warsaw  2020-03-29  14:34:00
196  29.03.2020 14:35         1   GP  Warsaw  2020-03-29  14:35:00
197  29.03.2020 14:36         1   GP  Warsaw  2020-03-29  14:36:00
198  29.03.2020 14:37         1   GP  Warsaw  2020-03-29  14:37:00

[199 rows x 6 columns]

In [53]:
data_minData = data.groupby(['DoctorID','Dates',]).agg({'Times':'min'})
data_minData.rename(columns={'Times':'Start'},inplace=True)
data_maxData = data.groupby(['DoctorID','Dates']).agg({'Times':'max'})
data_maxData.rename(columns={'Times':'End'},inplace=True)

In [54]:
data_result = pd.concat([data_minData,data_maxData], axis=1, join='inner')
data_result

                        Start       End
DoctorID Dates
1        2020-03-16  12:00:00  14:01:00
         2020-03-29  14:00:00  14:37:00
2        2020-03-16  12:00:00  12:49:00
3        2020-03-22  08:01:00  09:06:00
4        2020-10-04  13:20:00  13:34:00